<div class="text-center">
  <h1>Username: <%= current_user.name %></h1>
  <h2>Email: <%= current_user.email %></h2>
  <h2>Creation time: <%= current_user.created_at %></h2>
  <% if current_user.admin? %>
    <h2>You are a super admin you can do whatever you want</h2>
  <% end %>
</div>